<section
    class="pb-[2.5rem] md:pb-[2.5rem] max-w-[855px] mx-auto pt-[2.5rem] md:pt-[2.5rem] flex flex-col items-center justify-center h-full">
    {% if section.settings.section_heading != blank %}
      <h2
      class="font-oswald font-medium mb-[53px] sm:mb-12 md:mb-2.5 text-[24px] sm:text-[35px] md:text-[2.6rem] text-center tracking-[0.21px] text-[#7E695D] sm:w-[40.3rem] w-[335px] leading-[2rem] md:leading-[3.5rem]">
        {{ section.settings.section_heading }}
      </h2>
    {% endif %}
    <div
    class="max-h-[246px] max-w-[246px] sm:max-h-[400px] sm:max-w-[400px] md:max-h-[648px] md:max-w-[648px] md:p-16 relative mx-auto bg-white">
    <!--  top left Feature -->
    {% if section.settings.section_text1 != blank %}
      <h3
          class="font-bold absolute font-source top-[-5.28%] left-[-14.63%] md:top-[15.59%] md:left-[-14.97%] text-[#1C1C1C] w-[108px] md:w-[165px] tracking-[0.07px] md:tracking-[0.1px] text-[14px] max-sm:leading-[1.286] md:text-[20px] text-center leading-normal">
          {{ section.settings.section_text1 }}
      </h3>
    {% endif %}
    <span class="absolute top-[5%] left-[1.56%] md:top-[21.79%] md:left-[9.38%] z-[1]">
        <?xml version="1.0" encoding="UTF-8"?>
        <svg width="100px" height="122px" class="max-sm:w-[80px] max-sm:h-[80px]" viewBox="0 0 100 122" version="1.1"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>Fill 40</title>
        <g id="Design" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Landing-Page" transform="translate(-419, -1693)" fill="#B3A298"> 
            <g id="Group-36" transform="translate(256, 1418)">
                <path
                d="M254.507946,328.258997 C258.570847,326.390248 262.686433,322.685292 262.6291,323.872241 C262.599659,324.334005 262.094508,326.108232 260.884315,329.111245 C259.636933,332.07862 257.751139,336.395646 254.013642,341.096959 C250.370667,345.697551 245.063483,350.293495 237.960379,351.818245 C234.441367,352.631755 230.575258,352.672043 226.563492,352.287757 C222.540879,351.908119 218.355564,351.083762 213.944016,350.270252 C210.57531,349.639588 207.020659,349.092599 203.400927,348.677322 C199.773447,348.293035 196.062292,348.054406 192.332543,347.97228 C184.871494,347.843668 177.334518,348.415449 170.288747,349.658182 C165.517705,350.476341 161.19758,351.663291 158.042711,353.143104 C152.180791,355.944677 154.426078,356.838764 155.998864,356.539702 C156.260737,356.507162 157.385705,356.163163 159.758055,355.600679 C162.119558,355.008754 165.722245,354.168901 170.945754,353.329049 C178.829827,352.089415 191.505087,350.848231 206.531003,352.915321 C210.2685,353.42977 214.153204,354.201442 218.293582,354.951421 C222.424663,355.681255 226.817617,356.367703 231.491038,356.34136 C236.131919,356.301072 241.155536,355.433328 245.632165,353.070276 C250.111893,350.773853 253.903625,347.324571 256.991863,343.418174 C260.287741,339.308786 262.897171,334.28207 264.829451,329.329731 C265.8475,326.752841 266.05049,324.777174 266.349552,325.321064 C266.588182,325.779728 267.026702,327.437739 267.528754,330.11225 C268.013761,332.792959 268.583993,336.497916 268.681614,341.256562 C268.76219,344.349449 268.776136,347.646876 270.255949,346.238342 C271.105099,345.401589 271.749709,343.484804 272.01468,341.501389 C272.298247,339.508677 272.271905,337.450885 272.121599,336.174061 C271.630394,331.660243 270.818433,328.299285 270.104094,325.623225 C269.37426,322.954912 268.712605,320.985443 268.164067,319.494783 C267.059243,316.52431 266.405336,315.484566 265.929626,315.359053 C265.539141,315.256784 264.62956,315.893646 262.983945,317.216955 C261.33988,318.524769 258.961332,320.574814 255.597275,322.905327 C251.724967,325.57054 249.0737,326.92794 247.369203,327.825125 C245.663156,328.702166 244.883736,329.188723 244.683845,329.610198 C244.112064,330.828139 245.859948,331.107057 248.199758,330.645293 C250.533369,330.199024 253.370582,328.82458 254.507946,328.258997"
                id="Fill-40" transform="translate(213.2323, 335.9715) rotate(57) translate(-213.2323, -335.9715)">
                </path>
            </g>
            </g>
        </g>
        </svg>
    </span>
    <!-- left bottom Feature -->
    {% if section.settings.section_text4 != blank %}
      <h3
          class="font-bold absolute font-source max-md:bottom-[-36px] left-[-47px] md:top-[72.53%] md:left-[-15.89%] text-[#1C1C1C] w-[170px] md:w-[218px] tracking-[0.07px] md:tracking-[0.1px] text-[14px] max-sm:leading-[1.286] md:text-[20px] text-center leading-normal">
          {{ section.settings.section_text4 }}
      </h3>
    {% endif %}
    <span class="absolute max-md:bottom-[6.39%] left-[3.78%] md:top-[57.60%] md:left-[14.66%] z-[1]">
        <?xml version="1.0" encoding="UTF-8"?>
        <svg width="106px" height="98px" class="max-sm:w-[62.69px] max-sm:h-[57.49px]" viewBox="0 0 106 98"
        version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>Fill 32</title>
        <g id="Design" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Landing-Page" transform="translate(-454, -1925)" fill="#B3A298">
            <g id="Group-36" transform="translate(256, 1418)">
                <path
                d="M285.30906,512.894653 C290.191583,514.231882 296.14974,514.095922 295.315047,515.026991 C294.979449,515.412499 293.296295,516.544927 290.100369,518.200545 C286.911326,519.871651 282.14067,521.900729 275.77119,524.378992 C269.372453,526.989773 262.469458,529.784703 255.757496,533.992587 C252.429051,536.119762 249.126422,538.582536 246.223068,541.649387 C243.276689,544.643954 240.760563,548.375117 239.11183,552.521044 C237.466539,556.673856 236.56989,561.294783 236.96056,566.044787 C237.354673,570.763813 239.163461,575.642893 242.762105,579.324146 C244.574335,581.144981 246.789282,582.563098 249.25894,583.473515 C251.726877,584.354676 254.516644,584.719531 257.270269,584.065545 C260.020453,583.444258 262.555509,581.66817 264.140565,579.303494 C265.747994,576.945702 266.544824,574.138725 266.608502,571.316259 C266.722089,566.917342 264.801435,562.716342 262.106324,559.424039 C259.399166,556.083547 255.905504,553.51407 252.083127,551.534902 C244.400512,547.605823 235.253313,546.566329 226.674048,548.394048 C222.381834,549.309628 218.213534,550.948036 214.465161,553.316153 C210.713347,555.670503 207.41588,558.797589 204.875661,562.404839 C199.765964,569.633105 197.564785,578.504942 198.070764,586.932757 C198.327195,592.539827 200.127378,597.591009 202.395677,600.876428 C203.426565,602.430506 204.380008,603.304782 205.070135,603.805597 C205.7551,604.309855 206.200843,604.428605 206.479647,604.330507 C207.030372,604.129148 206.92539,603.082771 206.560535,602.299709 C206.502021,602.172353 206.317872,601.833313 205.982274,601.246447 C205.700027,600.632044 205.295588,599.752605 204.750026,598.568546 C203.834446,596.145356 202.45247,592.353958 202.202923,586.679768 C201.943049,580.964274 202.970496,573.884015 206.854829,567.197868 C208.794414,563.88147 211.463709,560.749221 214.88681,558.231375 C218.301306,555.706645 222.435186,553.773944 226.987273,552.689704 C231.549686,551.674304 236.513096,551.478108 241.44897,552.367874 C246.353865,553.340248 251.255319,555.333184 255.330684,558.656466 C257.359762,560.303478 259.166829,562.246505 260.450707,564.445963 C261.753516,566.650585 262.476342,569.068612 262.366197,571.50385 C262.247447,573.942529 261.350798,576.403582 259.733043,578.005848 C258.160034,579.642534 255.864199,580.379129 253.397983,580.112371 C250.93521,579.864545 248.393269,578.677044 246.410659,576.933655 C244.462469,575.238454 242.930765,572.755028 242.084025,570.120153 C240.323425,564.783283 241.034205,558.465433 243.526236,552.977113 C245.930495,547.438884 250.389648,542.867866 255.621536,539.160798 C260.86375,535.445124 266.909679,532.620937 273.14492,529.998109 C274.936498,529.266677 276.733238,528.531803 278.533421,527.796929 L280.648549,526.948469 L284.894296,525.187869 C287.725367,523.979716 290.546112,522.685512 293.272201,521.24158 C296.006895,519.802811 297.628092,518.207429 297.490411,518.892393 C297.371661,519.462049 296.519758,521.217486 294.982891,523.847198 C293.45635,526.473468 291.188051,529.967131 288.530802,533.970214 C286.790855,536.598205 285.47772,539.362156 287.250366,539.19866 C289.320749,539.03 293.029538,534.601826 294.538869,532.254361 C299.930812,524.057162 302.267951,518.290038 303.221394,514.813585 C304.178279,511.307876 304.02683,509.941389 303.6723,509.566208 C303.040687,508.82445 298.736427,510.249451 290.036691,509.184142 C285.075002,508.545645 281.660507,507.834866 279.283784,507.561224 C276.900177,507.263489 275.574994,507.306514 274.927892,507.643833 C271.052165,509.629885 282.569203,512.269924 285.30906,512.894653"
                id="Fill-32"></path>
            </g>
            </g>
        </g>
        </svg>
    </span>
    <!-- product feature image -->
    {% if section.settings.section_image != blank %}
      <div class="flex justify-center items-center h-full">
          <img class="w-full h-full" src="{{ section.settings.section_image |  img_url: 'master' }}" alt="{{ section.settings.section_image.alt }}" />
      </div>
    {% endif %}
    <!-- top right Feature -->
    {% if section.settings.section_text2 != blank %}
      <h3
          class="font-bold absolute font-source top-[-27px] right-[-21px] md:top-[16.82%] md:right-[-16.05%] text-[#1C1C1C] w-[108px] md:w-[208px] tracking-[0.07px] md:tracking-[0.1px] text-[14px] max-sm:leading-[1.286] md:text-[20px] text-center leading-normal">
          {{ section.settings.section_text2 }}
      </h3>
    {% endif %}
    <span class="absolute top-[13.04px] right-[33.17px] md:top-[23.04%] md:right-[13.09%]">
        <?xml version="1.0" encoding="UTF-8"?>
        <svg width="75px" height="110px" class="max-sm:w-[44.83px] max-sm:h-[71.71px]" viewBox="0 0 77 122"
        version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>Fill 33</title>
        <g id="Design" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Landing-Page" transform="translate(-846, -1701)" fill="#B3A298">
            <g id="Group-36" transform="translate(256, 1418)">
                <path
                d="M600.954817,386.922335 C601.468685,386.775002 603.585242,386.683368 607.353003,386.916944 C611.124357,387.116382 616.510978,387.804533 623.690745,388.372302 C628.141266,388.650797 632.992459,388.717276 638.035904,387.959053 C643.061381,387.208016 648.370743,385.763438 653.340521,382.825771 C655.811037,381.357836 658.189918,379.510789 660.187891,377.180419 C662.191255,374.86083 663.775978,372.083072 664.796525,369.044788 C666.884335,362.934081 666.427964,355.986093 664.358121,349.589705 C662.776991,344.675625 660.412484,339.883724 657.447865,335.393675 C654.483247,330.84074 650.959843,326.83581 648.000615,322.536215 C645.016233,318.286929 642.603213,313.723213 641.976151,308.963653 C641.34909,304.29932 642.761326,299.536167 645.35941,295.723488 C648.239581,291.617941 652.019919,288.863541 655.234284,287.160233 C656.738154,286.349904 657.846741,285.810883 658.579811,285.417397 C659.31288,285.000554 659.663244,284.626832 659.72613,284.315996 C659.869869,283.696122 658.800809,283.331384 657.762295,283.345758 C657.593401,283.334977 657.14242,283.379896 656.362635,283.550586 C655.972743,283.631439 655.493014,283.715886 654.930635,283.852438 C654.380833,284.030315 653.741194,284.238737 653.008125,284.477703 C652.287633,284.747214 651.506052,285.129919 650.613073,285.534185 C649.786573,286.044459 648.789383,286.508017 647.847892,287.246477 C645.894838,288.617388 643.729768,290.534508 641.7839,293.292501 C639.951227,295.904959 638.312602,299.302591 637.651402,303.411732 C636.902162,307.53345 637.676556,312.276839 639.532587,316.671661 C641.395805,321.114995 644.313708,325.234916 647.427455,329.300935 C650.571748,333.399295 653.813064,337.409615 656.341075,342.154801 C658.919394,346.844288 660.940725,352.121309 661.58216,357.624719 C662.193051,363.106567 661.035952,368.786057 657.640116,373.256343 C654.290996,377.741001 648.897187,380.78288 642.95178,382.428692 C639.972788,383.262379 636.844666,383.778042 633.668033,384.022399 C630.494993,384.273942 627.271644,384.200276 623.935101,384.000838 C618.374196,383.621726 612.268879,382.841942 606.142001,382.500561 C602.959977,382.317294 600.658356,382.818584 601.154255,382.29753 C601.569302,381.855532 603.281594,380.770302 606.019823,379.246668 C608.743678,377.710457 612.531203,375.78076 616.688855,373.407269 C619.419898,371.849496 621.696365,369.874881 620.158357,369.193917 C618.411927,368.394368 613.242711,370.606153 610.739855,371.917772 C606.411512,374.217598 602.812645,376.247912 600.042074,378.060821 C597.253536,379.891697 595.273531,381.420722 593.859498,382.70539 C591.056586,385.253165 590.413353,386.534239 590.513971,387.064277 C590.686458,388.056076 595.147759,389.283249 602.455094,395.004064 C606.659462,398.308266 609.577365,400.719489 611.80532,402.208985 C614.009918,403.709261 615.404187,404.330933 616.261232,404.34351 C618.773072,404.388428 617.394974,402.385065 615.165221,400.106801 C612.948046,397.819553 610.013972,395.282558 608.892808,394.233263 C605.042397,390.476283 599.698897,387.281682 600.954817,386.922335 Z"
                id="Fill-33"></path>
            </g>
            </g>
        </g>
        </svg>
    </span>
    <!-- bottom right Feature -->
    {% if section.settings.section_text3 != blank %} 
      <h3
          class="font-bold absolute font-source bottom-[-44px] right-[-9.5px] md:bottom-[18.67%] md:right-[-4.93%] text-[#1C1C1C] w-[81px] md:w-[150px] tracking-[0.07px] md:tracking-[0.1px] text-[14px] max-sm:leading-[1.286] md:text-[20px] text-center leading-normal">
          {{ section.settings.section_text3 }}
      </h3>
    {% endif %}
    <span class="absolute bottom-[-5px] right-[19.53px] md:bottom-[19.88%] md:right-[16.51%]">
        <?xml version="1.0" encoding="UTF-8"?>
        <svg class="rotate-[s30deg] max-sm:w-[58.54px] max-sm:h-[82.66px]" width="107px" height="166px"
        viewBox="0 0 107 166" version="1.1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>Fill 36</title>
        <g id="Design" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Landing-Page" transform="translate(-793, -1906)" fill="#B3A298">
            <g id="Group-36" transform="translate(256, 1418)">
                <path
                d="M650.090428,562.995434 C651.90056,561.881629 653.420688,560.191005 654.555206,558.790384 C655.602087,557.40729 656.306381,556.382718 656.516713,556.929263 C656.599571,557.144375 656.69199,557.703668 656.789189,558.6167 C656.801936,559.531327 656.846552,560.80288 656.639407,562.418613 C656.574077,563.229667 656.350997,564.109238 656.183687,565.086008 C655.908025,566.038876 655.681758,567.098504 655.246753,568.190001 C654.458008,570.388928 653.28684,572.853957 651.50539,575.33492 C646.439891,582.714074 636.92236,588.037708 625.840086,589.591298 C620.286998,590.413505 614.361049,590.348175 608.242295,589.51322 C602.118761,588.700573 595.823137,587.15495 589.328335,585.285862 C579.401294,582.465499 568.857598,578.712982 557.619168,576.765816 C552.010311,575.800201 546.248484,575.307832 540.502592,575.66954 C534.76626,576.047181 529.127128,577.326702 523.964429,579.514475 C519.214428,581.471202 515.294601,584.409478 512.985728,587.282424 C511.932473,588.65277 511.350873,589.670969 511.105486,590.431033 C510.840977,591.173569 510.852131,591.605388 511.00988,591.828467 C511.331752,592.269846 512.228851,591.898578 512.827979,591.363187 C513.020783,591.192691 513.825463,590.325867 515.692958,588.780244 C517.574793,587.272864 520.559279,585.022947 525.479777,583.037539 C530.935666,580.762127 538.576141,579.071503 547.61883,579.594147 C556.688608,580.027558 566.947081,582.610501 578.104246,586.031585 C583.703543,587.715836 589.572129,589.551462 595.802423,591.092305 C602.029529,592.6204 608.642245,593.845744 615.5848,594.070417 C622.520981,594.285529 629.748759,593.431453 636.678566,590.880379 C643.568538,588.367547 650.203562,583.985627 654.698615,577.545001 C657.858377,573.040388 660.189559,567.353452 660.602256,561.473712 C660.825336,558.412742 660.085986,556.280739 660.61341,556.707777 C661.029294,557.072671 662.178154,558.578458 663.500697,561.389261 C664.786591,564.192096 666.160124,568.327035 666.701889,573.716 C667.046069,577.207195 667.216565,580.813117 668.704825,579.038041 C669.541373,577.975226 670.129347,575.680694 670.193084,573.268247 C670.266382,572.079552 670.194677,570.852614 670.064016,569.746777 C669.955664,568.6505 669.770826,567.667357 669.560494,566.907293 C668.212456,561.605967 666.141003,557.845482 664.230486,555.198803 C663.225034,553.871479 662.332716,552.815038 661.41331,551.968929 C660.55764,551.11326 659.740213,550.471109 659.002457,549.970774 C657.605023,548.950981 656.472097,548.520757 655.76143,548.280149 C655.033234,548.053883 654.631691,548.063443 654.414985,548.197291 C654.04053,548.413997 653.887561,549.561263 653.390412,551.465407 C652.88689,553.345649 651.816108,556.068813 649.473773,558.626261 C646.699619,561.531076 644.36047,562.585923 642.983751,563.347581 C641.524173,564.059842 640.888396,564.378527 640.789604,564.738641 C640.456578,565.715411 642.222093,566.053217 644.414647,565.575189 C646.596046,565.152932 649.155088,563.675826 650.090428,562.995434"
                id="Fill-36" transform="translate(590.5601, 571.1023) rotate(-114) translate(-590.5601, -571.1023)">
                </path>
            </g>
            </g>
        </g>
        </svg>
    </span>
    </div>
</section>

{% schema %}
    {
      "name": "NF - Featured section",
      "settings": [
        {
          "type": "text",
          "id": "section_heading",
          "label": "Heading",
          "default": "START WITH YOUR HEALY HAIR CARE JOURNEY"
        },
        {
          "type": "image_picker",
          "id": "section_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "section_text1",
          "label": "Text 1"
        },
        {
          "type": "text",
          "id": "section_text2",
          "label": "Text 2"
        },
        {
          "type": "text",
          "id": "section_text3",
          "label": "Text 3"
        },
        {
          "type": "text",
          "id": "section_text4",
          "label": "Text 4"
        }
      ],
      "presets": [
        {
          "name": "NF - Featured section"
        }
      ]
    }
  {% endschema %}