<!-- sections/NF_image_columns.liquid -->
{% comment %} 
grid of images

  Globals:
    - settings.layout_horizontal: horizontaly margin

  Possible enhancements:
    - Add support for global setting to control grid gap.

  Pro tips:
    - Use this to highlight recent or featured articles anywhere on your site.
{% endcomment %}

{% schema %}
{
    "name": "Image columns",
    "class": "image-columns",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Your Title Here"
        }
    ],
    "blocks": [
        {
            "type": "image_with_text",
            "name": "Image with Text",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "text",
                    "label": "Text",
                    "default": "Enter your text"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Default Image columns",
            "category": "Custom",
            "settings": {
                "title": "Default Title"
            },
            "blocks": [
                {
                    "type": "image_with_text"
                }
            ]
        }
    ]
}
{% endschema %}

{% stylesheet %}

{% endstylesheet %}

{% javascript %}
// Optional JavaScript can be added here
{% endjavascript %}


<section class="window--wide py-4">
    {% if section.settings.title != blank %}
        <h2 class="text-2xl font-bold">{{ section.settings.title }}</h2>
    {% endif %}
    <div class="flex flex-wrap gap-4">
        {% for block in section.blocks %}
            <div class="md:flex-1 relative xs:flex-[0_0_calc(50%-8px)]">
                {% if block.settings.image != blank %}
                    {{ block.settings.image | image_url: width: 1400 | image_tag: class: 'w-full aspect-[4/5] object-cover ', loading: 'lazy', alt: block.settings.text.alt }}

                    {% comment %} <img class="w-full aspect-[4/5] object-cover " src="{{ block.settings.image | img_url: 1200 }}" alt="{{ block.settings.text | escape }}"> {% endcomment %}
                {% endif %}
                {% if block.settings.text != blank %}
                    <p class="absolute bottom-2 left-4 text-white font-bold">{{ block.settings.text }}</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</section>

